*.exe
Thumbs.db
ehthumbs.db
Desktop.ini
English/Samples/CheckBox/h_button.prg
English/Samples/CheckBox/h_frame.prg
English/Samples/CheckBox/i_altsyntax.ch
English/Samples/CheckBox/i_checkbox.ch
English/Samples/CheckBox/h_checkbox.prg
